name: CI
on:
  push:
    branches:
      - main
  pull_request:

env:
  GO_VERSION: 1.23

permissions:
  contents: read

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses:  actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
        with:
            persist-credentials: false
      - name: setup go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v5
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: golangci-lint
        uses: golangci/golangci-lint-action@4afd733a84b1f43292c63897423277bb7f4313a9 # v8
        with:
          version: latest
      - name: test
        run: go test -v ./...