# Copyright (C) 2025 Bryce Thuilot
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the FSF, either version 3 of the License, or (at your option) any later version.
# See the LICENSE file in the root of this repository for full license text or
# visit: <https://www.gnu.org/licenses/gpl-3.0.html>.

on:
  release:
    types: [created]

permissions:
  contents: read

env:
  GO_VERSION: 1.25
  VERSION: ${{ github.event.release.name }}

jobs:
  binary-releases-matrix:
    name: release binary
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goos: [linux, windows, darwin]
        goarch: ["386", amd64, arm64]
        exclude:
          - goarch: "386"
            goos: darwin
          - goarch: arm64
            goos: windows
    env:
      GOOS: ${{ matrix.goos }}
      GOARCH: ${{ matrix.goarch }}
    permissions:
      contents: write
      id-token: write
    steps:
      - name: checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          persist-credentials: false
      - name: setup go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          go-version: ${{ env.GO_VERSION }}
      #- name: install cosign
      #  uses: sigstore/cosign-installer@d58896d6a1865668819e1d91763c7751a165e159 # v3
      - name: build
        run: |
          make build
      - name: upload release
        run: |
          sha256sum ./bin/git-lost-and-found  > $BIN_SHA
          cp ./bin/git-lost-and-found $BIN_NAME
          gh release upload ${{ github.ref_name }} $BIN_NAME $BIN_SHA
        env:
          GH_TOKEN: ${{ github.token }}
          BIN_NAME: "git-lost-and-found-${{ matrix.goos }}-${{ matrix.goarch }}"
          BIN_SHA: "git-lost-and-found-${{ matrix.goos }}-${{ matrix.goarch }}.sha256"
  publish-docker:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
      id-token: write
    env:
      TAG: "ghcr.io/${{ github.repository_owner }}/git-lost-and-found:${{ github.ref_name }}"
      LATEST: "ghcr.io/${{ github.repository_owner }}/git-lost-and-found:latest"
    steps:
      - name: checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          persist-credentials: false
      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: setup qemu
        uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3
      - name: setup buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3
      - name: install cosign
        uses: sigstore/cosign-installer@d7543c93d881b35a8faa02e8e3605f69b7a1ce62 # v3
      - name: docker build
        id: docker-build
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          push: true
          tags: ${{ env.TAG }},${{ env.LATEST }}
      - name: sign image
        env:
          DIGEST: ${{ steps.docker-build.outputs.digest }}
        run: cosign sign --yes ${TAG}@${DIGEST} ${LATEST}@${DIGEST}